:root {
    color-scheme: light dark;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color:  light-dark(#fff, #000);
    color: light-dark(#000, #fff);
}

.fake-loader {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 0%;
    height: 1px; /* Adjust height as needed */
    background-color: light-dark(black, white); /* Loader color */
    transition: 1s cubic-bezier(0.4, 0.0, 0.2, 1); /* Smooth animation to the right */
}