* {
    box-sizing: content-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --border-color-dark: #303030;
    --border-color-light: #000000;
    --border-bottom-light: #bfbfbf;
}

i {
    font-size: 40px;
    margin-left: 10px;
}

.links {
    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: ease-in-out;
    font-size: 12px;
    margin-top: 10px;
    color: light-dark(var(--border-bottom-light),var(--border-color-dark));
}

.links a {
    color: light-dark(black, white);
    text-decoration: none;
    margin: 0;
    margin-top: 3px;
    align-self: center;
    width: 70px;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: none;
    border: solid 1px light-dark(var(--border-color-light), var(--border-color-dark));
    width: fit-content;
    height: fit-content;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 250px;
    transition: ease-in-out .3s;
}

.text_input {
    color: light-dark(black, white);
    text-align: center;
    background: none;
    border: none;
    border-bottom: solid 1px light-dark(var(--border-bottom-light), var(--border-color-dark));
}

.username,
.password {
    color: light-dark(black, white);
    text-align: center;
    background: none;
    border: none;
    border-bottom: solid 1px light-dark(var(--border-bottom-light), var(--border-color-dark));
}

input:focus {
    outline: none;
    border-bottom: solid 1px light-dark(black, white);
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: none;
    padding: 5px;
}

.button {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    background: none;
    border: solid 1px light-dark(var(--border-color-light), var(--border-color-dark));
    border-radius: 10px;
    color: light-dark(black, white);
    transition: ease-in-out .3s;
    font-size: 16px;
    height: 30px;
}

.button:hover {
    color: light-dark(white, white);
    background: light-dark(var(--border-color-light), var(--border-color-dark));
}


a:hover {
    text-decoration: underline;
}

.bot-stoppa {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    height: 30px;
    width: 100%;
    margin-top: 10px;
    color: light-dark(var(--border-bottom-light),var(--border-color-dark));
}

.equation-input {
    margin: 0;
    width: 25%;
}

.equation {
    width: 65%;
    height: 20px;
    border: 1px solid light-dark(var(--border-color-light), var(--border-color-dark));
}

/* remove arrows on number input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}